<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../redux/redux-mixin.html">

<dom-module id="whose-flag-app">
  <template>
    <style>
      :host {
        display: block;
        font-family: Roboto, Noto, sans-serif;
      }
      paper-button {
        color: white;
      }
      paper-button.another {
        background: var(--paper-blue-500);
        width: 100%;
      }
      paper-button.another:hover {
        background: var(--paper-light-blue-500);
      }
      paper-button.answer {
        background: var(--paper-purple-500);
        flex-grow: 1;
      }
      paper-button.answer:hover {
        background: var(--paper-pink-500);
      }
      app-toolbar {
        background-color: var(--paper-blue-500);
        color: white;
        margin: 20px 0;
      }
      iron-image {
        border: solid;
        width: 100%;
        --iron-image-width: 100%;
         background-color: white;
      }
      #flag-image-container {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
      }
      #answer-button-container {
        display: flex; /* or inline-flex */
        flex-flow: row wrap;
        justify-content:space-around;
      }
    </style>

    <app-header>
      <app-toolbar>
        <div main-title>Whose flag is this?</div>
        <span>Score: [[score]]/[[tries]]</span>
      </app-toolbar>
    </app-header>
    <iron-ajax auto url="data/countrycodes.json" handle-as="json" on-response="_handleResponse"></iron-ajax>
    <div id="flag-image-container">
      <iron-image id="flag-image" preload fade src="data/svg/[[correctAnswer.code]].svg">
      </iron-image>
      <div id="answer-button-container">
        <paper-button id="optionA" class="answer" on-click="_selectAnswer" hidden="[[!qstate]]">[[countryA.name]]</paper-button>
        <paper-button id="optionB" class="answer" on-click="_selectAnswer" hidden="[[!qstate]]">[[countryB.name]]</paper-button>
      </div>
      <p hidden="[[qstate]]">[[outputMessage]]</p>
      <paper-button class="another" id="another" on-click="__pickRandomCountry" hidden="[[qstate]]">Another!</paper-button>
    </div>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WhoseFlagApp extends ReduxMixin(Polymer.Element) {
      static get is() { return 'whose-flag-app'; }
      static get properties() {
        return {
          countryA: {
            type: Object,
            statePath: 'countryA'
          },
          countryB: {
            type: Object,
            statePath: 'countryB'
          },
          outputMessage: {
            type: String,
            statePath: 'outputMessage'
          },
          correctAnswer: {
            type: Object,
            statePath: 'correctAnswer'
          },
          countryList: {
            type: Object
          },
          score: {
            type: Number,
            statePath: 'score'
          },
          tries: {
            type: Number,
            statePath: 'tries'
          },
          qstate: {
            type: Boolean,
            statePath: 'qstate'
          }
        };
      }
      _selectAnswer(event) {
        if (event.target.textContent == this.correctAnswer.name) {
          this.dispatch({
            type: 'CORRECT_ANSWER'
          });
        }
        else {
          this.dispatch({
            type: 'WRONG_ANSWER'
          });
        }
      }
      _handleResponse(event) {
        this.countryList = event.detail.response.countrycodes;
        this.__pickRandomCountry();
      }
      __pickRandomCountry() {
        let countryA = {};
        let countryB = {};
        
        while (!countryA || !countryB || (countryA.code == countryB.code)) {
          countryA = this.countryList[this.__getRandomCountry()];
          countryB = this.countryList[this.__getRandomCountry()];
        }
        let coin = (Math.floor(Math.random() * 2));
        this.dispatch({
          type: 'NEXT_TURN',
          countryA: countryA,
          countryB: countryB,
          correctAnswer: coin == 1 ? countryA : countryB
        });
      }
      __getRandomCountry() {
        return Math.floor(Math.random() * (this.countryList.length));
      }
    }

    window.customElements.define(WhoseFlagApp.is, WhoseFlagApp);
  </script>
</dom-module>
