<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">
<script src="../../node_modules/redux/dist/redux.js"></script>
<script>
  // Setup a Redux store
  const initial = {
    countryA: { code: "AA", name: "Start" },
    countryB: { code: "AA", name: "Start" },
    outputMessage: "Welcome to Whose flag is it",
    correctAnswer: { code: "AA", name: "Start" },
    score: 0,
    tries: 0,
    qstate: false
  };

  const reducer = (state, action) => {
    switch (action.type) {
      case 'CORRECT_ANSWER':
        return Object.assign({}, state, {
          qstate: false,
          outputMessage: state.correctAnswer.name + ' is correct',
          score: state.score + 1,
          tries: state.tries + 1
        })
      case 'WRONG_ANSWER':
        return Object.assign({}, state, {
          qstate: false,
          outputMessage: 'Nope! The correct answer is ' + state.correctAnswer.name,
          tries: state.tries + 1
        })
      case 'NEXT_TURN':
        return Object.assign({}, state, {
          qstate: true,
          countryA: action.countryA,
          countryB: action.countryB,
          correctAnswer: action.correctAnswer
        })
      default:
        return state;
    }
  };
  const store = Redux.createStore(
    reducer,
    initial,
    window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__()
  );

  // Export the ReduxMixin
  ReduxMixin = PolymerRedux(store);
</script>