<script src="../../node_modules/redux/dist/redux.min.js"></script>

<script>
(function() {

function selectedAnswer(state = {}, action) {
    switch (action.type) {
        case 'SELECT_ANSWER':
            return action.answer
        
        default:
            return state
    }
}

MainApp.rootReducer = Redux.combineReducers({
  selectedAnswer
})

}());
</script>